@model Emiasto.Models.ReviewLike

@{
    ViewBag.Title = Model.Review.UserId;
}

<h2>Details</h2>

<div>
    <h4>Review like</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Review)
        </dt>

        <dd>
            @Html.ActionLink(Model.Review.Text, "Details", "Reviews", new { id = Model.Review.Id }, null)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.Fullname)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
