@model Emiasto.Models.FacilityImage

@{
    ViewBag.Title = Model.Image;
}

<h2>Details</h2>

<div>
    <h4>Facility image</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Image)
        </dt>

        <dd>
            <img src="~/Images/@Model.Image" height="200" style="margin-bottom: 10px;">
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Facility)
        </dt>

        <dd>
            @Html.ActionLink(Model.Facility.Name, "Details", "Facilities", new { id = Model.Facility.Id }, null)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
